/web/bundles/
/web/assets/
/web/css/
/web/js/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/src/SL/DataBundle/Entity/*EntityClass*.php
/components/*
/web/uploads/documents/*
