<div class="modal-header alert alert-danger">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">
    	<i class="fa fa-exclamation-triangle fa-2x"></i>
    	{{ title }}
    </h4>
</div>
<div class="modal-body">
    {{ message }}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">{{ 'close'|trans }}</button>
</div>