
{% if form is defined %}
	{{ form_stylesheet(form) }}
{% endif %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{% block modal_title %}{% endblock %}</h4>
</div>
<div class="modal-body">
    {% block modal_body %}{% endblock %}
</div>

{% block modal_footer %}{% endblock %}

{% if form is defined %}
	{{ form_javascript(form) }}
{% endif %}