{% extends "SLCoreBundle::modalContent.html.twig" %}

{% block modal_title %}
	{% set title = form.vars.full_name ~ '.' ~ form.vars.method|lower ~ '.title' %}
	{{ title|lower|trans}}
{% endblock %}

{% block modal_body %}

	{% if form.vars.method|lower == 'delete' %}
		{% set delete_message = form.vars.full_name ~ '.' ~ form.vars.method|lower ~ '.message' %}

		<div class="text-center">
			{{ delete_message|trans({'%displayName%': entity.displayName})}}
		</div>
	{% endif %}

	<br/>
	
	{% if formChoice is defined %}
		{{ form(formChoice) }}
	{% endif %}

	
	{{ form(form) }}
{% endblock %}

{% block modal_footer %}{% endblock %}