{% set panelClass = 'panel panel-info' %}

{% embed 'SLCoreBundle::sectionSkeleton.html.twig' with {
    'panelClass':panelClass,
    } only
%}

    {% block section_heading %}
    	<div class="btn-group">              
            <a title="{{ 'datalist.add'|trans }}" class="btn btn-default btn-xs" data-toggle="modal" data-target="#" href="{{ path('data_list_new') }}">
                <span class="fa fa-plus"></span>  
            </a>       
        </div>
        <h4>{{ 'data_list.index.title' | trans }}</h4>
    {% endblock %}

    {% block section_body %}
       {{ 'data_list.index.description' | trans }}
    {% endblock %}

{% endembed %}
