parameters:
    driver: pdo_mysql
    host: 127.0.0.1
    port: null
    name: dictionary
    user: root
    password: root
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: fr
    secret: 1443237523556754187614
    application_version: 0.3.0
