body {
    padding-top: 100px;
    padding-bottom: 100px;
}

.panel-full-screen {
    height: 580px; 
}

/* Jquery Calendar*/
.hasDatepicker {
    position: relative;
    z-index: 9999;
}

/* Preloader */
/*#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;  
    z-index:99; 
}*/

/*#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; 
    top:50%; 
    background-image:url("../images/wait.gif"); 
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; 
}*/



/* Icon picker*/
/*.icon-popup {
    position: relative;
    z-index: 9999;
}*/

/*.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}*/