{% set panelClass = 'panel panel-info' %}

{% embed 'SLCoreBundle::sectionSkeleton.html.twig' with {
    'panelClass':panelClass,
    } only
%}

    {% set title = 'entity_class.index.title' %}
    {% set description = 'entity_class.index.message' %}

    {% block section_heading %}
	    <div class="btn-group">              
            <a title="{{ 'entity_class.add.title'|trans }}" class="btn btn-default btn-xs" data-toggle="modal" data-target="#" href="{{ path('entity_class_new') }}">
                <span class="fa fa-plus"></span>  
            </a>       
        </div>
        <h4>{{ title|trans }}</h4>
    {% endblock %}

    {% block section_body %}
       {{ description|trans }}
    {% endblock %}

{% endembed %}
